<a href="https://colab.research.google.com/github/Katsiarynakavaleuskaya/TherapyCBTApp/blob/main/FinalWork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
conn_str = 'postgresql://netology:NetoSQL2019@84.201.177.166:19001/world-db'
engine = create_engine(conn_str)

In [3]:
query = "SELECT id, name, country_code FROM city"
cities = pd.read_sql(query, engine)

In [4]:
print(cities.head())

   id            name country_code
0   1           Kabul          AFG
1   2        Qandahar          AFG
2   3           Herat          AFG
3   4  Mazar-e-Sharif          AFG
4   5       Amsterdam          NLD

In [5]:
cities.to_csv('cities_world_db.csv', index=False)

Города и население

In [6]:
df=pd.read_csv('/content/Система_аналитики_и_учета_отпусков - Form_Responses.csv')

In [7]:
df.head()

,Timestamp,Countries,City,TripStartDate,TripEndDate,PlannedBudgetUSD,TicketCostUSD,HotelCostUSD,LocalSpendUSD,OverallRating(1-5),TotalCostUSD,DeviationUSD,CostPerDayUSD,TripDurationDays,HotelCostPerDay,City_English
0,7/1/2025 17:09:00,Грузия,Тбилиси,30.07.2025,08.08.2025,400,100,200,200,4,500,100,50.000000,10,20.000000,Tbilisi
1,7/1/2025 17:09:47,Испания,Барселона,09.08.2025,16.08.2025,2000,400,1000,1000,2,2400,400,300.000000,8,125.000000,Barcelona
2,7/1/2025 17:10:23,Италия,Рим,14.09.2025,21.09.2025,1500,400,1400,200,5,2000,500,250.000000,8,175.000000,Roma
3,7/1/2025 17:11:06,ОАЭ,Дубай,01.05.2026,30.06.2026,5000,1500,3500,1000,4,6000,1000,98.360656,61,57.377049,Dubai
4,7/1/2025 17:12:22,Турция,Стамбул,09.07.2026,07.08.2026,6000,1200,3800,2500,5,7500,1500,250.000000,30,126.666667,Istanbul

In [8]:
query = """
SELECT name AS city_eng, population, country_code
FROM city
"""

In [9]:
city_df = pd.read_sql(query, engine)

In [10]:
print(city_df.head())

         city_eng  population country_code
0           Kabul     1780000          AFG
1        Qandahar      237500          AFG
2           Herat      186800          AFG
3  Mazar-e-Sharif      127800          AFG
4       Amsterdam      731200          NLD

In [14]:
vacations = pd.read_csv('/content/Система_аналитики_и_учета_отпусков - Form_Responses.csv')

In [15]:
print(vacations.columns)
print(vacations[['City_English', 'Countries']].head())

Index(['Timestamp', 'Countries', 'City', 'TripStartDate', 'TripEndDate',
       'PlannedBudgetUSD', 'TicketCostUSD', 'HotelCostUSD', 'LocalSpendUSD',
       'OverallRating(1-5)', 'TotalCostUSD', 'DeviationUSD', 'CostPerDayUSD',
       'TripDurationDays', 'HotelCostPerDay', 'City_English'],
      dtype='object')
  City_English Countries
0      Tbilisi    Грузия
1    Barcelona   Испания
2         Roma    Италия
3        Dubai       ОАЭ
4     Istanbul    Турция

In [16]:
country_map = {
    'Испания': 'ESP',
    'Франция': 'FRA',
    'ОАЭ': 'ARE',
    'Турция': 'TUR',
    'Грузия': 'GEO',
    'Италия': 'ITA',
    'Казахстан': 'KAZ',
    'Польша': 'POL',
    # Добавь остальные страны, если надо!
}
vacations['country_code'] = vacations['Countries'].map(country_map)

In [17]:
merged = pd.merge(
    vacations,
    city_df,
    left_on=['City_English', 'country_code'],
    right_on=['city_eng', 'country_code'],
    how='left'
)
print(merged.columns)
print(merged.head())

Index(['Timestamp', 'Countries', 'City', 'TripStartDate', 'TripEndDate',
       'PlannedBudgetUSD', 'TicketCostUSD', 'HotelCostUSD', 'LocalSpendUSD',
       'OverallRating(1-5)', 'TotalCostUSD', 'DeviationUSD', 'CostPerDayUSD',
       'TripDurationDays', 'HotelCostPerDay', 'City_English', 'country_code',
       'city_eng', 'population'],
      dtype='object')
           Timestamp Countries       City TripStartDate TripEndDate  \
0  7/1/2025 17:09:00    Грузия    Тбилиси    30.07.2025  08.08.2025
1  7/1/2025 17:09:47   Испания  Барселона    09.08.2025  16.08.2025
2  7/1/2025 17:10:23    Италия        Рим    14.09.2025  21.09.2025
3  7/1/2025 17:11:06       ОАЭ      Дубай    01.05.2026  30.06.2026
4  7/1/2025 17:12:22    Турция    Стамбул    09.07.2026  07.08.2026

   PlannedBudgetUSD  TicketCostUSD  HotelCostUSD  LocalSpendUSD  \
0               400            100           200            200
1              2000            400          1000           1000
2              1500            400          1400            200
3              5000           1500          3500           1000
4              6000           1200          3800           2500

   OverallRating(1-5)  TotalCostUSD  DeviationUSD  CostPerDayUSD  \
0                   4           500           100      50.000000
1                   2          2400           400     300.000000
2                   5          2000           500     250.000000
3                   4          6000          1000      98.360656
4                   5          7500          1500     250.000000

   TripDurationDays  HotelCostPerDay City_English country_code   city_eng  \
0                10        20.000000      Tbilisi          GEO    Tbilisi
1                 8       125.000000    Barcelona          ESP  Barcelona
2                 8       175.000000         Roma          ITA       Roma
3                61        57.377049        Dubai          ARE      Dubai
4                30       126.666667     Istanbul          TUR   Istanbul

   population
0     1235200
1     1503451
2     2643581
3      669181
4     8787958

In [18]:
result = merged[['Countries', 'city_eng', 'population']].drop_duplicates().reset_index(drop=True)
print(result)

   Countries   city_eng  population
0     Грузия    Tbilisi     1235200
1    Испания  Barcelona     1503451
2     Италия       Roma     2643581
3        ОАЭ      Dubai      669181
4     Турция   Istanbul     8787958
5     Польша   Warszawa     1615369
6  Казахстан     Almaty     1129400
7        ОАЭ  Abu Dhabi      398695
8    Франция      Paris     2125246

In [19]:
country_avg = merged.groupby('Countries')['population'].mean().reset_index()
country_avg = country_avg.rename(columns={'population': 'avg_city_population'})
print(country_avg)

   Countries  avg_city_population
0     Грузия            1235200.0
1    Испания            1503451.0
2     Италия            2643581.0
3  Казахстан            1129400.0
4        ОАЭ             579019.0
5     Польша            1615369.0
6     Турция            8787958.0
7    Франция            2125246.0