<a href="https://colab.research.google.com/github/Katsiarynakavaleuskaya/TherapyCBTApp/blob/main/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D1%8F%D1%8F_%D0%B1%D1%83%D1%85%D0%B3%D0%B0%D0%BB%D1%82%D0%B5%D1%80%D0%B8%D1%8F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('/content/Бухгалтерия.csv')

In [11]:
df=df.dropna(how='all')

In [13]:
df = pd.read_csv('/content/Бухгалтерия.csv', skip_blank_lines=True)

In [16]:
min_value = df['сумма'].min()
mean_value = df['сумма'].mean()
max_value = df['сумма'].max()
print('Минимальная сумма трат:', min_value)
print('Средняя сумма трат:', mean_value)
print('Максимальная сумма трат:', max_value)

Минимальная сумма трат: 15.0
Средняя сумма трат: 172.14285714285714
Максимальная сумма трат: 800.0

In [19]:
print(df.columns)

Index(['время', 'месяц операции', 'название операции', 'сумма', 'категория ',
       'Регулярная трата', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [20]:
category_sums = df.groupby('категория ')['сумма'].sum()
print(category_sums)

категория
интернет          365.0
квартплата       2250.0
книги            1210.0
кофейня           430.0
кредит           1650.0
парикмахер       2500.0
телефон           300.0
фитнесс           525.0
электричество     410.0
Name: сумма, dtype: float64